.header__lang-link {
    margin: 0 0 0 18px;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
    align-items: center;
    color: #fff;
    display: block;
    text-align: right;
    max-width: 30px;
    padding: 0;
    text-decoration: none;
}

.header__lang-link:hover {
    color: #FFFFFF;
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        max-width: 22px;
    } 
}