.photo-grid {
    width: 100%;
    display: grid;
    box-sizing: border-box;
    align-items: center;
    gap: 16px;
    grid-template-columns: repeat(4, 284px);
    margin: 0 auto;
}

@media screen and (max-width: 1270px) {
    .photo-grid {
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
        justify-content: center;
    }
}

@media screen and (max-width: 1020px) {
    .photo-grid {
        grid-template-columns: repeat(2, 352px);
        gap: 16px;

    }
}

@media screen and (max-width: 760px) {
    .photo-grid {
        display: grid;
        grid-template-columns: 288px;
        grid-row-gap: 12px;
        grid-column-gap: 0;
        padding: 0;
    }
}