.intro__list {
    display: flex;
    flex-direction: column;
    justify-self: left;
    
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 568px) {
    .intro__list {
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
    }
}