.lead {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    margin-bottom: 92px;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    max-width: calc(100% - (148*2));
    
}

@media screen and (max-width: 1140px) {
    .lead {
        max-width: calc(100% (48*2));
        margin-top: 48px;
        margin-bottom: 92px;
        /* min-height: 962px; */
    }
}

@media screen and (max-width: 984px) {
    .lead {
        max-width: 100%;
        margin-top: 48px;
        margin-bottom: 88px;
        /* min-height: 862px; */ 
    }
}

@media screen and (min-width: 568px) {
    .lead {
        max-width: 100%;
        margin-top: 48px;
        margin-bottom: 64px;
        /* min-height: 406px; */ 
    }
}