.place__website__link {
    position: relative;
    text-align: left;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 12px 0 0 0;
    padding: 0;
    width: 100%;
    align-self: flex-end;
    grid-row-gap: 0;
    grid-column-gap: 0;
}