.lead__caption {
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    padding: 0;
    margin-top: 8px;
    text-align: left;
    box-sizing: border-box;
    width: calc(100% - (148*2));
}

@media screen and (max-width: 984px) {
    .lead__caption {
       padding-left: 24px; 
    }
}

@media screen and (max-width: 568px) {
    .lead__caption {
        padding-left: 16px;
    }
}