.place__website {
    grid-area: website;
    text-align: left;
    align-self: flex-end;
    grid-row-gap: 0;
    grid-column-gap: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 760px) {
    .place__website {
        padding: 0 16px;
    }
}