.place__website {
    grid-area: website;
    text-align: left;
    /* width: 456px; */
    align-self: flex-end;
    grid-row-gap: 0;
    grid-column-gap: 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 984px) {
    .place__website {
        /* width: 352px; */
    }
}

@media screen and (max-width: 568px) {
    .place__website {
        width: 100%;
        padding: 0 16px;
    }
}